
#root{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  section {
    width: 65%;
    .cards {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      .card {
        flex: 1 1 250px;
        background-color: rgb(228, 232, 228);
        border: 1px solid black;
        padding: 5px;
    
        img {
          max-width: 200px;
          max-height: 100px;
          display: block;
          margin: 0 auto;
          padding-top: 10px;
        }
      }
    }
  }

  aside {
    width: 35%;
    background-color: rgb(228, 232, 228);
    border: 1px solid black;
    padding: 5px;
    img {
      max-width: 500px;
      max-height: 400px;
      display: block;
      margin: 0 auto;
      
    }
  }
}



